<div class="app-navbar-item ms-1 ms-md-4">
	<!--begin::Menu wrapper-->
	<div class="btn btn-icon btn-custom btn-icon-muted btn-active-light btn-active-color-primary w-35px h-35px" data-kt-menu-trigger="{default: 'click', lg: 'hover'}" data-kt-menu-attach="parent" data-kt-menu-placement="bottom-end">
		<i class="ki-duotone ki-element-11 fs-2">
			<span class="path1"></span>
			<span class="path2"></span>
			<span class="path3"></span>
			<span class="path4"></span>
		</i>
	</div>
	<!--begin::My apps-->
	<div class="menu menu-sub menu-sub-dropdown menu-column w-100 w-sm-350px" data-kt-menu="true">
		<!--begin::Card-->
		<div class="card">
			<!--begin::Card header-->
			<div class="card-header">
				<!--begin::Card title-->
				<div class="card-title">My Apps</div>
				<!--end::Card title-->
				<!--begin::Card toolbar-->
				<div class="card-toolbar">
				</div>
				<!--end::Card toolbar-->
			</div>
			<div class="card-body py-5">
				<!--begin::Scroll-->
				<div class="mh-450px scroll-y me-n5 pe-5">
					<!--begin::Row-->
					<div class="row g-2">
						<!--begin::Col-->
						<div class="col-4">
							<a href="#" class="d-flex flex-column flex-center text-center text-gray-800 text-hover-primary bg-hover-light rounded py-4 px-3 mb-3">
								<img src="assets/media/svg/brand-logos/amazon.svg" class="w-25px h-25px mb-2" alt="" />
								<span class="fw-semibold">AWS</span>
							</a>
						</div>
						<!--end::Col-->
					</div>
					<!--end::Row-->
				</div>
				<!--end::Scroll-->
			</div>
			<!--end::Card body-->
		</div>
		<!--end::Card-->
	</div>
</div>