@page "/counter"

@using BlazorApp1.Data;
@using System.Globalization;

<PageTitle>Counter</PageTitle>


<div class="form-group row" >
    <EditForm Model="weather">
        <InputText  @bind-Value="@number" @onkeyup=@(x => changeFunc(@number))></InputText>

    </EditForm>
    <p role="status">Current count: @number</p>
</div>
@code {
    private int currentCount = 0;
    public string number = "123";

    private WeatherForecast weather = new();
    private CultureInfo cultureInfo = new CultureInfo("en-US");

    private void IncrementCount()
    {
        currentCount++;
    }

    public void changeFunc( string numberVal )
    {
        if ( decimal.TryParse(numberVal, out decimal parsedAmount) )
        {
            var amount = parsedAmount;
            number = string.Format(cultureInfo, "{0:C}", amount);
        }
        StateHasChanged();
    }

}