@page "/Currency"

@using System.Globalization;

<div class="input-group">
    <span class="input-group-text">@cultureInfo.NumberFormat.CurrencySymbol</span>
    <input @onkeyup=@(x => changeFunc(@number)) class="form-control" @bind="number" aria-label="Amount (to the nearest dollar)" />
</div>

@code {

    private decimal inputValue;
    public string number = "";
    private CultureInfo cultureInfo = new CultureInfo("tr-TR");

    public void changeFunc( string numberVal )
    {
        if ( decimal.TryParse(numberVal, out decimal parsedAmount) )
        {
            var amount = parsedAmount;
            number = string.Format(cultureInfo, "{0:N}", amount);
        }
        StateHasChanged();
    }
}
