@page "/newCounter2"
<div class="input-group">
    <span class="input-group-text">$</span>
    <input type="number" @onkeyup=@(x => changeFunc(@number)) class="form-control" @bind-value="number" aria-label="Amount (to the nearest dollar)" />
    <span class="input-group-text">.00</span>
    <div>
        Formatted Currency: @FormatCurrency(inputValue)
    </div>
</div>

@code {

    private decimal inputValue;

    public string number = "";

    private string FormatCurrency( decimal value )
    {
        return value.ToString("C", System.Globalization.CultureInfo.CurrentCulture);
    }

    public void changeFunc( string numberVal )
    {
        if ( decimal.TryParse(numberVal, out decimal parsedAmount) )
        {
            var amount = parsedAmount;
            number = string.Format(System.Globalization.CultureInfo.CurrentCulture, "{0:C}", amount);
        }
    }
}
